fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.2
python-dotenv==1.0.1
python-multipart==0.0.9
llama-cpp-python
diffusers
torch
torchvision
torchaudio
transformers
accelerate
tf-keras
librosa
soundfile
sentencepiece
edge-tts
accelerate
